body {
  height: 100%;
  width: 100%;
}

.principal {
  height: 100%;
  width: 100%;
}
.left-container {
  width: 35%;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;

}
.layout {
  display: flex;
  height: 100%;
  width: 100%;



}
.right-container{
  width: 25%;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
}